.mask {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 9999999;
  .mask-modal {
    width: 750rpx;
    height: 636rpx;
    background: #fff;
    border-radius: 40rpx 40rpx 0 0;
    display: flex;
    flex-direction: column;
    z-index: 99999999;
    .mask-nav {
      width: 750rpx;
      height: 52rpx;
      margin: 32rpx 0 48rpx 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 312rpx;
      color: #000;
      .mask-title {
        font-size: 32rpx;
        font-weight: 500;
      }
      .close-style {
        width: 40rpx;
        height: 40rpx;

        margin-left: 240rpx;
        .mask-close {
          width: 20rpx;
          height: 20rpx;
        }
      }
    }
    .mask-text {
      width: 676rpx;
      margin-left: 32rpx;
      line-height: 44rpx;
      color: #000;
      font-size: 32rpx;
      font-weight: 400;
      margin-bottom: 48rpx;
    }
    .mask-private {
      margin-left: 32rpx;
      display: flex;
      align-items: center;
      color: #656565;
      .mask-items {
        display: flex;
        align-items: center;
        .mask-check {
          color: #656565;
          font-size: 28rpx;
        }
        .mask-content {
          color: #656565;
          font-size: 28rpx;
          text-decoration: underline;
        }
      }
    }
  }
}
